name: Build Android App

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'corretto'
          cache: gradle

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Configure local.properties
        env:
          GPR_USER: ${{ secrets.GPR_USER }}
          GPR_KEY: ${{ secrets.GPR_KEY }}
          ANDROID_HOME: ${{ env.ANDROID_HOME }}
        run: |
          echo "gpr.user=$GPR_USER" >> local.properties
          echo "gpr.key=$GPR_KEY" >> local.properties
          echo "sdk.dir=$ANDROID_HOME" >> local.properties

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew assembleExternal

      - name: Upload APKs
        uses: actions/upload-artifact@v4
        with:
          name: app-external-apks
          path: app/build/outputs/apk/**/external/*.apk
